.footer {
  padding: $base-space;
  color: var(--dark);
  background-color: var(--light);
  position: fixed;
  height: calc(#{$hero-height} - #{$nav-height});
  bottom: 0;
  z-index: -1;
  width: $container-width;
  max-width: 100%;
  .scroll {
    position: absolute;
    bottom: 1rem;
    &:hover {
      transform: translateY(-.5rem);
    }
  }
}
