.projects {
  position: sticky;
  min-height: calc(#{$section-height} - #{$base-space}*3);
  top: calc(-#{$section-height} + #{$base-space}*6);
  z-index: 900;
  background-color: var(--dark);
  color: var(--light);
  &--container {
    @include outer-container(720px);
  }

  h4 {
    margin-bottom: $base-space*5;
  }
  &--item {
    @include span-columns(6);
    margin-bottom: $base-space*3;
    &:nth-of-type(even) {
      @include omega;
    }
    &:nth-last-of-type(-n+2) {
      margin-bottom: 0;
    }
  }
  &--title {
    color: var(--primary);
    display: block;
    margin-bottom: $base-space;
    font-size: 1.4rem;

  }
}
