<!DOCTYPE html>
<html lang="en">

<head>
  {{> global/header meta }}
</head>

<body>

<main id="main" role="main" class="adam">
  {{!> nav index.nav }}
  {{> hero index.hero }}
  {{!> projects index.projects }}
  {{!> footer index.footer }}
</main>

{{!> global/footer }}
<script>
  const text = new SpeechSynthesisUtterance("Hello! My name is Adam Fratino.")
  const mouth = document.querySelector('.mouth')

  setTimeout(() => {
    speechSynthesis.speak(text);
    mouth.classList.add('talk')
  }, 1000)
</script>
</body>
</html>
