<!DOCTYPE html>
<html lang="en">

<head>
  {{> global/header meta }}
</head>

<body>

<main id="main" role="main" class="adam">
  {{!> nav index.nav }}
  {{> hero index.hero }}
  {{!> projects index.projects }}
  {{!> footer index.footer }}
</main>

{{!> global/footer }}
</body>
</html>
