@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');

::selection {
  background-color: var(--light);
}
* {
  box-sizing: border-box;
  &:active,
  &:hover,
  &:focus {
    outline: 0 !important;
  }
}

canvas {
  position: absolute;
  z-index: -1;
  opacity: .3;
  filter: blur(3px);
}

.svg--logo {
  fill: none;
  stroke: var(--dark);
  stroke-width: 60;
  stroke-miterlimit: 10;
  transition: all .3s ease;
}

a {
  color: var(--dark);
  text-decoration: none;
}

h1, h2, h3, h4, p {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 670px;
  margin-bottom: 1.5rem;
  &:last-child {
    margin-bottom: 0;
  }
}

h1 {
  font-size: 4em;
  @include max-screen($sm) {
    font-size: 2.2rem;
  }
}
h2 {
  font-size: 3em;
  line-height: 1.2;
  @include max-screen($sm) {
    font-size: 1.8em;
  }
}
h3 {
  font-size: 1.4em;
  line-height: 1.4;
}
h4 {
  line-height: 1.4;
}
p {
  font-size: 1em;
  line-height: 1.5;
  @include max-screen($sm) {
    font-size: 1.2em;
  }
}
.scroll {
  width: 100%;
  text-align: center;
  font-size: 6em;
  text-shadow: none;
  transition: transform .1s ease-in;
  &:hover {
    cursor: pointer;
  }
}

body {
  font-family: 'Roboto Slab', serif;
  background: var(--light);
  position: relative;
  font-size: 16px;
  @include max-screen($sm) {
    font-size: 12px;
  }
}

#{$project-prefix} {
  border-left: #{$border-width} solid var(--dark);
  border-right: #{$border-width} var(--dark);
  max-width: $container-width;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: calc(#{$hero-height} - #{$nav-height}) !important;
}

section {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
