<section id="hero" class="section hero">
  <div class="section__container">
    <div class="section--content-inner">
      <h1>{{{ title }}}</h1>
      <h3>{{{ description }}}</h3>
      {{#each copy}}
      <p>{{{ this }}}</p>
      {{/each}}
    </div>
  </div>
  <a class="scroll js-down" href="#">&#65516;</a>
</section>
