<div class="hero">
  <div class="hero--content">
    <div class="hero--content-inner">
      <h1>{{{ title }}}</h1>
      <h3>{{{ description }}}</h3>
      {{#each copy}}
      <p>{{{ this }}}</p>
      {{/each}}
    </div>
  </div>
  <div class="scroll"><a class="more" href="#">&#65516;</a></div>
</div>
<div class="section1">
  <h2> Lorem ipsum dolor sit.</h2>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, rerum minima. Ab, neque! Doloribus quibusdam sunt nobis ea commodi perferendis amet laborum dignissimos cumque ullam inventore minus, odit rem sit?</p>
</div>
<div class="section2">
  <h2>Lorem ipsum dolor sit.</h2>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste neque quos magnam, quo deleniti odio. Voluptate sunt, voluptatibus. Voluptatibus delectus officiis, mollitia iusto quae illum vel adipisci eos perferendis aut maxime accusamus harum ipsum molestiae doloremque ratione dolores iure temporibus beatae reiciendis! Autem atque nulla iste, similique, magni iure cupiditate.</p>
</div>
