<nav id="nav">
  <a href="/" class="logo">
    {{> components/logo }}
  </a>
  <ul>
    {{#each links}}
    <li><a class="goDown" href="{{ this.url }}">{{{ this.copy }}}</a></li>
    {{/each}}
  </ul>
</nav>
