.hero {
  position: sticky;
  top: calc(-#{$hero-height} + #{$base-space}*3 + #{$nav-height});
  height: calc(#{$hero-height} - #{$nav-height} - #{$base-space});
  z-index: 950;
  max-width: 100%;
  background-color: var(--primaryDark);
  color: var(--dark);
  // background: url(#{$background-image}) no-repeat center center;
  // background-size: cover;
  padding: $base-space;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  &--content {
    padding: $base-space;
    flex-basis: 95%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &-inner {

    }
  }
  .scroll {
    &:hover {
      transform: translateY(.5rem);
    }
  }
}
