$hair: #442a08;
$skin: #ffb24f;

body {
  padding: 5rem 2rem;
  background-color: var(--light);
  color: var(--dark);
  * { box-sizing: border-box; }

  .container {
    margin: 0 auto;
    max-width: 106rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 10rem);

    @include max-screen($md) {
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  .copy {
    flex: 0 0 1;
    h1 { margin-bottom: 0.5rem; }
    h4 {
      font-size: 1.8rem;
      text-transform: uppercase;
      margin-bottom: 2rem;
      margin-right: 2rem;
      border-bottom: 1px dashed black;
    }
    p {
      margin-bottom: 2rem;
      &:last-of-type {
        margin-bottom: 6rem;
      }
    }
    @include max-screen($md) {
      h1,
      h3,
      p { margin-bottom: 1.5rem; }
    }

    .links {
      list-style-type: circle;
      font-size: 1.4rem;
      display: grid;
      grid-template-columns: repeat(2, 50%);
      @include max-screen($md) {
        display: block;
        list-style-type: none;
      }

      li {
        margin-bottom: 1rem;
      }
      small {
        font-size: 1rem;
        margin-left: .5rem;
      }
    }
  }

  .head {
    flex: 0 0 30rem;
    margin-right: 10rem;
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.2);
    position: relative;
    background-color: $skin;
    border-radius: 50%;
    width: 30rem;
    min-height: 54rem;

    @include max-screen($md) {
      margin: 0 0 10rem;
    }

    .hair {
      position: absolute;
      width: 100%;
      &::before,
      &::after {
        content: "";
        position: absolute;
        background-color: $hair;
        box-shadow: 0 0 2rem 0 rgba(0,0,0,0.5);
      }
      &::before {
        top: -1rem;
        left: -2rem;
        height: 25rem;
        width: 9rem;
        border-top-left-radius: 6rem;
        border-top-right-radius: 4rem;
        border-bottom-right-radius: 6rem;
      }
      &::after {
        top: -2rem;
        right: -3rem;
        height: 25rem;
        width: 27.5rem;
        border-bottom-left-radius: 10rem;
        border-top-left-radius: 4rem;
        border-top-right-radius: 8rem;
      }
    }

    .ears {
      position: absolute;
      top: 27rem;
      width: 100%;
      &::before,
      &::after {
        box-shadow: 0 0 2rem 0 rgba(0,0,0,0.3);
        content: "";
        position: absolute;
        border-radius: 1rem;
        width: 2.5rem;
        height: 8rem;
        background-color: $skin;
      }
      &::before {
        left: 100%;
        border-bottom-right-radius: 2rem;
        border-top-right-radius: 2rem;
      }
      &::after {
        right: 100%;
        border-bottom-left-radius: 2rem;
        border-top-left-radius: 2rem;
      }
    }

    .earholes {
      position: absolute;
      top: 29rem;
      width: 100%;
      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 1.5rem;
        height: 4rem;
        background-color: #333;
        border-radius: 1rem;
      }
      &::before { left: -.7rem; }
      &::after { right: -.7rem; }
    }

    .sideburns {
      position: absolute;
      top: 23rem;
      width: 100%;
      &::before,
      &::after {
        content: "";
        position: absolute;
        height: 12rem;
        width: 1rem;
        background-color: $hair;
      }
      &::after { right: 0; }
    }

    .eyebrows {
      position: absolute;
      top: 24.5rem;
      width: 100%;
      &::before,
      &::after {
        content: "";
        position: absolute;
        background-color: $hair;
        width: 10rem;
        height: 1rem;
        border-radius: 1rem;
      }
      &::before { left: 2rem; }
      &::after { right: 2rem; }
    }

    .glasses {
      box-shadow: 0 0 2rem 0 rgba(0,0,0,0.2);
      position: absolute;
      top: 26rem;
      left: -.5rem;
      right: -.5rem;
      display: flex;
      justify-content: space-around;
      background-color: #333;
      height: 1rem;
      &::before,
      &::after {
        box-shadow: 0 0 2rem 0 rgba(0,0,0,0.3);
        content: "";
        display: block;
        width: 10rem;
        height: 4rem;
        border: 1rem solid #333;
      }
    }

    .eyes {
      width: 100%;
      position: absolute;
      top: 28rem;
      &::before,
      &::after {
        content: "";
        width: .7rem;
        height: .7rem;
        border: .6rem solid #333;
        position: absolute;
        display: block;
        border-radius: 50%;
      }
      &::before { left: 6.5rem; }
      &::after { right: 6.5rem; }
    }

    .nose {
      width: 5rem;
      height: 4rem;
      position: absolute;
      top: 30.5rem;
      left: 0;
      right: 0;
      margin: auto;
      border: .5rem solid transparent;
      border-radius: 50%;
      border-bottom-color: #333;
    }

    .beard {
      position: absolute;
      box-shadow: 0 0 2rem 0 rgba(0,0,0,0.5);
      top: calc(100% - 19rem);
      border: 7.5rem solid $hair;
      border-top-width: 5rem;
      border-bottom-width: 12.5rem;
      height: 25rem;
      width: 100%;
      border-bottom-left-radius: 10rem;
      border-bottom-right-radius: 10rem;
    }

    .mouth {
      position: absolute;
      top: 42rem;
      left: 0;
      right: 0;
      margin: auto;
      width: 10rem;
      height: .5rem;
      background-color: tomato;
      &.talk { animation: talking 2.5s step-end; }
    }

    .chin {
      position: absolute;
      top: 46.3rem;
      width: 100%;
      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        border: .5rem solid transparent;
        border-radius: 50%;
      }
      &::before {
        border-left-color: #333;
        left: calc(50% - .2rem);
        transform: rotate(45deg);
      }
      &::after {
        right: calc(50% - .2rem);
        border-right-color: #333;
        transform: rotate(-45deg);
      }
    }
  }
}

@mixin open {
  width: 10rem;
  height: 2rem;
  border-radius: 0;
}

@mixin closed {
  width: 10rem;
  height: .5rem;
  border-radius: 0;
}

@mixin circle {
  width: 4rem;
  height: 2rem;
  border-radius: 1rem;
}

@keyframes talking {
  0% { @include open; }
  6% { @include circle; }
  35% { @include closed; }
  40% { @include open; }
  45% { @include closed; }
  48% { @include open; }
  54% { @include closed; }
  59% { @include open; }
  62% { @include closed; }
  65% { @include open; }
  67% { @include closed; }
  69% { @include open; }
  72% { @include closed; }
  76% { @include open; }
  81% { @include closed; }
  83% { @include open; }
  86% { @include closed; }
  90% { @include circle; }
}
