// PROJECT SPECIFIC PREFIX
$project-prefix: '.adam';

// BASE GUIDELINES, FEEL FREE TO EDIT
$logo-padding: true;
$container-width: 1200px;
$base-space: 1rem;
$hero-height: 100vh;
$section-height: $hero-height;
$nav-height: 4rem;
$border-width: 0;

// BREAKPOINTS
$xxs: 320px;
$xs: 480px;
$sm: 750px;
$md: 992px;
$lg: 1024px;
$xl: 1200px;


$font: (
	title: 'Helvetica',
	copy: 'sans-serif'
);

:root {
  --dark: rgba(47,67,75,1);
  --light: rgba(245,227,203,1);
  --primary: rgba(255,170,0,1);
  --primaryDark: rgba(255,145,0,1);
  --secondary: rgba(47,141,202,1);
	--secondaryLight: rgba(0,160,176,1);
}
